<div class="container">
  <div class="footer-top">
    <div class="footer-brand">
      <a href="#" class="logo">
        <img src="assets/images/logo.svg" width="132" height="27" loading="lazy" alt="shoppie home">
      </a>
      <p class="footer-text">
        Main factor that sets us apart competition allows deliver a specialist business consultancy service applies
        its ranging experience
      </p>
      <ul class="social-list">
        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-list">
      <li>
        <p class="footer-list-title title">Contact info</p>
        <address class="footer-text">
          Ludhiana Punjab <br>
          India
        </address>
      </li>
      <li>
        <a href="mailto:info.shoppie@support.com" class="email">info.shoppie@support.com</a>
      </li>
      <li>
        <a href="tel:+00 123 456 789" class="call">+00 123 456 789</a>
      </li>
    </ul>
    <div class="footer-list">
      <p class="footer-list-title title">Subscribe newsletter</p>
      <input type="email" name="email_address" placeholder="Enter your email address" required autocomplete="off"
        class="input-field">
      <button class="btn btn-secondary">Subscribe</button>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrapper">
      <div class="link-wrapper">
        <a href="#" class="footer-bottom-link">Portfolio</a>
        <a href="#" class="footer-bottom-link">Our Team</a>
        <a href="#" class="footer-bottom-link">Pricing Plan</a>
        <a href="#" class="footer-bottom-link">Services</a>
        <a href="#" class="footer-bottom-link">Contact Us</a>
      </div>
      <div class="link-wrapper">
        <a href="#" class="footer-bottom-link">Terms & Conditions</a>

        <a href="#" class="footer-bottom-link">Privacy Policy</a>
      </div>
    </div>
    <p class="copyright">
      &copy; 2023 therichpost, All Rights Reserved
    </p>
  </div>
  <img src="assets/images/footer-shape-1.png" width="245" height="165" loading="lazy" alt="shape" class="shape shape-1">
  <img src="assets/images/footer-shape-2.png" width="138" height="316" loading="lazy" alt="shape" class="shape shape-2">
  <img src="assets/images/footer-shape-3.png" width="346" height="92" loading="lazy" alt="shape" class="shape shape-3">
</div>