<div class="hero" style="background-color: #fffefe;">
    <div class="container">
        <table class="table">
            <thead>
                <tr style="color: #162b50; font-size: 25px;">
                    <th scope="col"></th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Total Item</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of carrinhoService.carrinho;let i = index;"
                    style="text-align: center; font-size: 16px; font-weight: bold; border-bottom: 1px solid black; ">
                    <td><img style="width: 90px;" class="imagem-icon" [src]="item.url" /></td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.total*item.quantidade }}</td>
                    <td>
                        <button class="" (click)="carrinhoService.excluir(i)">
                            <ion-icon name="trash" aria-hidden="true"></ion-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" align="right">
                        <strong class="valor-total">Total: {{ carrinhoService.getValorTotal() }}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>