<!-- #HERO -->

<div class="hero">
  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle title">$120.00</p>
      <h1 class="h1 hero-title title">Man summer <br> collection</h1>
      <p class="hero-text">
        This is the factor that sets us apart from competition and allows us deliver a specialist business service
        team applies its ranging experience determining
      </p>
      <a href="#" class="btn btn-primary">
        <span class="span">Shop Now</span>
        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
      </a>
    </div>
    <div class="hero-banner">
      <figure class="img-holder" style="--width: 704; --height: 700;">
        <img src="assets/images/hero-banner.png" width="704" height="700" alt="hero banner" class="img-cover">
      </figure>
      <img src="assets/images/hero-shape-1.png" width="255" height="249" alt="shape" class="shape shape-1">
    </div>
    <img src="assets/images/hero-shape-2.png" width="360" height="133" alt="shape" class="shape shape-2">
  </div>
</div>

<!-- #OFFER -->

<section class="offer has-bg-image" style="background-image: url('assets/images/offer-bg.png')">
  <div class="container">
    <div class="offer-card">
      <h2 class="title card-title">35% Off</h2>
      <p class="card-text">
        This is the main factor that sets us apart our competition and allows us deliver a specialist business
        consultancy service
      </p>
      <a href="#" class="btn btn-secondary">
        <span class="span">Shop Now</span>
        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
      </a>
    </div>
  </div>
</section>